*.iml
.gradle
.kotlin
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
.env
*.jks
*.keystore
debug.keystore
*.log
node_modules/
admin/node_modules/
gateway-service/node_modules/
form-router/node_modules/

